<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Alliance Tracker - Login / Register</title>
  <link rel="shortcut icon" href="images/style/favicon.png" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/sign_in.css" rel="stylesheet">
</head>

<body class="text-center">