<div class="update-log-wrap jumbotron col-12 mt-4 py-1">
    <p class="mb-1 text-muted font-size-1">&copy; 2020 Attila Szabó</p>
    <h6 class="text-muted font-size-small">Version: 0 . 5 (Beta)</h6>
    <hr>
    <div class="update_log text-center">
        <h6>Update Log</h6>
        <p>2020.07.09 - Simplified welcome page, Registering a new account loads main page, Navbar simplified (separate My Heroes and Add/Change Heroes), New LogOut nav button.</p>
        <p>2020.07.01 - Larger heroe names, ascend ranks more airy, box shadow now gets the color of the heroe element.</p>
        <p></p>
    </div>
</div>