<%- include("partials/log_reg_head"); -%>

  <form action="/" method="POST" class="form-signin">
    <img id="login-logo" class="mb-4" src="images/style/logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <input type="text" name="userName" class="form-control" placeholder="Username" required autofocus>

    <input type="password" name="passW" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <button class="btn btn-lg btn-warning btn-block" type="button" onclick="window.location.href='/register'">Create New Account</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2020 Attila Szabó</p>
  </form>
</body>

</html>