<%- include("partials/head"); -%>

<div class="container pt-5">
    <div class="row">
        <div class="myHeroeContainer col col-lg-12 boxShadowBorder">
            <div class="row justify-content-around text-center whiteColor">

                <div class="col col-lg-1 col-md-4 col-sm-4 col-4 avHeroContHeight m-1 ml-3 mt-2 boxShadowBorder">
                    <div class="col col-lg-9 col-md-10 col-sm-10 col-10 avHeroPicCont">
                        <div class="avHeroName">Azar</div>
                        <img src="images/1_fire/three_star/azar.jpg">
                    </div>
                    <div class="col col-lg-3 col-md-2 col-sm-2 col-2 avHeroStatCont">
                        <div class="avHeroLvl starContHeight">
                            <img src="images/style/star3.png" alt="">
                        </div>
                        <div class="avHeroLvl lvlContHeight pt-1">12</div>
                        <div class="avHeroLvl ascContHeight">
                            <img src="images/style/asc1.png">
                        </div>
                    </div>
                </div>

            </div>
            <div class="backgroundOpacity"></div>
        </div>
    </div>
    <div class="myHeroeFilter row justify-content-center boxShadowBorder">

        <%- include("partials/filter"); -%>

        <div class="backgroundOpacity"></div>
    </div>
</div>
<%- include("partials/foot"); -%>