<%- include("partials/log_reg_head"); -%>

  <form action="/register" method="POST" class="form-signin">
    <img id="login-logo" class="mb-4" src="images/style/logo.png" alt="">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    <input type="text" name="userName" class="form-control" placeholder="New Username" required autofocus>

    <input type="password" name="passW" class="form-control" placeholder="New Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>
</body>

</html>